@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply mx-auto mb-8 max-w-5xl text-lightGrayishBlue font-sans text-4xl md:text-5xl font-bold;
  }
  h5 {
    @apply mb-2 text-2xl text-lightGrayishBlue font-bold;
  }
}

a {
  @apply text-grayishBlue hover:text-strongCyan;
}

.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
    brightness(101%) contrast(94%);
}

.section-content {
  @apply leading-9 text-grayishBlue text-xl;
}
.section-container {
  @apply text-center px-10 max-w-6xl mx-auto;
}

.button-div {
  @apply rounded-full shadow-lg text-center p-4 px-8 text-white text-xl hover:opacity-80 hover:cursor-pointer;
}

body {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 576px) {
  body {
    background-image: url("../images/bg-header-mobile.png");
  }
} ;
